<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About South Jersey Rentals</h2>
    <div >
        <p>
        The South Jersey is a delightful web application created to provide rental
        classifieds in the South Jersey area. 
        It covers the Atlantic, Camden,Salem as well as Burlington
        counties.<br> 
        This website can used to lookup rentals ad for single homes,apartments,
        townshouses as well as shared accomodations.
        </p>
    </div>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>