<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    We at South Jersey Rentals would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    South Jersey Rentals 
    <p>
      PO. Box 6963<br>
      Egg Harbor Township, NJ 08234
    </p>
    <a href="tel:856.281.1915">+1 (856) 281-1915</a><br>
    <a href="mailto:smaulik@mauliktech.com">smaulik@mauliktech.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</div>